.App {
  text-align: center;
  align-content: center;
  display: inline-block;
  padding-left: 450px;
  padding-top: 50px;
}
.App .table101{
  padding: 20px;
  align-self: center;
}

.App .table101 td,th{
  border: 1px solid black;
}
